<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/static/main.css" />
    <title>Kan-Udacity Wiki</title>
</head>

<body>
    <!--a href="/blog" class="main-title">
        Kan-Udacity Blog
    </a-->
  
    <div class="login-area">
        {% if username %}
        <a class="login-link" href="/_edit{{ page_name }}">edit</a> 
        |
        {% endif %}
        <a class="login-link" href="/_history{{ page_name }}">history</a> 
        |
        {% if username %}
        {{username}} (<a class="login-link" href="/logout">logout</a>)
        {% else %}
        <a class="login-link" href="/login">login</a>
        |
        <a class="login-link" href="/signup">signup</a>
        {% endif %}
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <!--div class="age">
        Queried {{age}} seconds ago
    </div-->
</body>

</html>

